header {
    border-bottom: 2px solid black;
    text-align: center;
    padding-bottom: 1rem;
}
hr {
    width: 45%;

}
h1 {
    font-weight: 700;
}
body {
    background-color: rgba(239, 234, 163, 0.505);
}
main {
    text-align: center;
}

p {
    width: 40%;
    margin: 0 auto;
}
footer {
    text-align: end;
    margin-top: 32px;
    text-align: center;
}
footer > p {
    opacity: 50%;

}

/*style for header*/
h1 {
  color: #333;
  font-size: 28px;
}
#searchForm {
  margin-top: 20px;
  border: 10px solid black;
  padding:20px;
  
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  
}
input[type="text"],
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button[type="submit"],
button[type="button"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #555;
}
 
#searchForm label{
    display: inline-block;

}
.highlight-menu {
   display: flex;
   flex-wrap: wrap;
   width: 20%;
   max-width: 150px;
}

.titleInfo {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}
#wordSearch {
  margin: 2px;
}
#wordSubmitBtn {
  margin-top: 5px;
}
main {
  position: relative;

}
.row {
  position: absolute;
  visibility:hidden;
}

#card-header {
  border-bottom: 3px solid grey;
  padding: 8px;
}

.grammar {
  font-style: italic;
}
 
 
