header {
    border-bottom: 2px solid black;
    text-align: center;
    padding-bottom: 1rem;
}
hr {
    width: 45%;

}
h1 {
    font-weight: 700;
}
body {
    background-color: rgba(239, 234, 163, 0.505);
}
main {
    text-align: center;
}

p {
    width: 40%;
    margin: 0 auto;
}
footer {
    text-align: end;
    margin-top: 32px;
    text-align: center;
}
footer > p {
    opacity: 50%;

}

/*style for header*/
h1 {
  color: #333;
  font-size: 28px;
}
#searchForm {
  margin-top: 20px;
  border: 10px solid black;
  padding:20px;
  
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  
}
input[type="text"],
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Button{
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}

.Button:hover {
  background-color: #555;
}

#searchForm label{
    display: inline-block;

}
.highlight-menu {
   display: flex;
   flex-wrap: wrap;
   width: 20%;
   max-width: 150px;
}

.titleInfo {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}
#wordSearch {
  margin: 2px;
}
#wordSubmitBtn {
  margin-top: 5px;
}


/* apply 3d transform*/
#poemParagraph {
  transform: perspective(1000px)  ;
  transform-origin: top;
  /* add depth with shadows*/
  box-shadow: 0px 0px 15px rgba(0, 0, 0,0.3);
  /* add padding and background color*/
  padding: 15px;
  background-color: #f8f8f8;
  visibility: hidden;
}
 /*makes text back */
span {
  color: black;
}
/* changes color of input for radio btn before being checked */
span.button::before {
  background-color:white;
  
 }
 [type="radio"]:checked + span:after {
  background:black;
  border: 2px solid rgba(239, 234, 163, 0.505);
 }
main {
  position: relative;

}
.row {
  position: absolute;
  visibility:hidden;
}

#card-header {
  border-bottom: 3px solid grey;
  padding: 8px;
}

.grammar {
  font-style: italic;
}
 
#definition {
  color: rgb(1, 6, 38);
  opacity: 90%;
}
#randomButton {
  margin-left: 3%;
}

#searchInput {
  background-color: #3535287e;
  color: black;
  padding-left: 5px
}